$space: 1rem;
$primaryColor: rgb(0, 70, 117);

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding: 30px;
}

.board-row:after {
clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: $space
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marginBottom {
  margin-bottom: $space;
}


/* Portfolio */

.portfolio-date-container {
  border: solid 1px lighten($color: $primaryColor, $amount: 0.5);
  border-radius: 3px;
}

.portfolio-date {
  padding: 2px 5px;
  font-size: large;
  color: rgb(50, 50, 60);  
  background-color: rgb(230, 230, 245);
}

.portfolio-date-asset {
  background-color: rgb(240, 240, 255);
}

/* Bootstrap overrides */

.card-title {
  color: $primaryColor
}