@import "config.sass";

.assetsview 
  //border: $border
  //border-radius: 3px
  margin-bottom: $space

  &-date 
    padding: 2px 5px
    font-size: small
    color: $primaryColor
    background-color: lighten ($primaryColor, 50)

  &-asset 
    margin-left: $space*2
    //background-color: rgb(240, 240, 255)



.col-asset-name 
.col-asset-quantity
  padding: 2px 5px